{% extends './plantilla.html' %}
{% load static %}

{% block contenido %}

<!-- BANNER -->
<div id="banner" class="banner full-screen-mode ">
    <div class="container pr">
        <div class="col-lg-12">
            <div class="banner-static">
                <div class="banner-text">
                    <div class="banner-cell">

                        <!-- TÍTULO -->
                        <h1>
                            Menú Digital con 
                            <span class="typer" 
                            data-words="QR:Pedidos Online:Experiencia Rápida"></span>
                        </h1>

                        <!-- SUBTÍTULO -->
                        <h2>Restaurante "FREEDOM LOUNGE LATACUNGA"</h2>

                        <!-- DESCRIPCIÓN -->
                        <p>
                           Lo mejor de productos Ecuatorianos con un estilo internacional y nacional. desayunos, sanduches, ensaladas, plato de quesos,comida tipica cerrana,cafe y chocolate, recuerdos, ful bar y mucho mas!
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}